<h1>New Project</h1>
<%= simple_form_for @project do |f| %>
  Name: <%= f.text_field :name %>
  <div id="tasks">
    <%= f.simple_fields_for :tasks, Task.new do |task| %>
      <!-- Task: <%#= task.text_field :name %> -->
      <%= render 'task_fields', f: task %>
      <div class="links">
        <%= link_to_add_association 'add task', f, :tasks %>
      </div>
    <% end %>
  </div>
  <%= f.submit 'Create Project' %>
<% end %>


